* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

  html, body{
    padding-left:15px;
    padding-right:15px;
    
}
@font-face {
  font-family: 'xenosphereregular';
  src: url("./webfontkit/xenosphere-webfont.ttf") format("truetype");
  src: url("./webfontkit/xenosphere-webfont.woff") format("woff"),
  url("./webfontkit/xenosphere-webfont.woff2") format("woff2"),
 
  }

body{
    font-family: 'Questrial', sans-serif;
    color:black;
   
    
   
}
.container{
  /*border: 2px solid black;*/
  height:auto;

}
.menu{
  /*border: 2px solid red;*/
  color:green;
  padding:15px;
  display:flex;
  justify-content: space-around;
}
.menu a{
  text-emphasis: none;
  text-decoration: none;
}
a:hover{
  color:red;
  text-decoration: none;
}
a:link{
  color:black;
  text-decoration: none;
}
a:visited{
  color:black;
  text-decoration: none;
  text-emphasis: none;
}
a:visited:hover{
  color:red;
}

.header{
  /*border:2px solid blue;*/
  padding-top:5%;
 
}
.heading{
  font-family: 'xenosphere';
  font-style: italic;
  text-align: center;
}
/*@font-face {
  font-family: 'xenosphere';
  src: url('/css/xenosphere.eot?') format('eot'), url('/css/xenosphere.woff') format('woff'), url('/css/xenosphere.ttf') format('truetype');
}*/
#lessthan, #greaterthan{
  font-family: 'Roboto Mono', monospace;
  letter-spacing: 5px;
}
.intro{
  text-align: center;
  font-size: 20px;
  font-weight: 1;
  padding-bottom: 1%;
  padding-left: 50%;
  
}
.photo-container{
  /*border:2px solid green; */
padding-bottom: 2%;
display: flex;
justify-content: center;
}

.photo-container img{
  height:300px;
  
  
}
.this-one{
  text-align:center;
  padding-top: 10%;
  font-size: 20px;
}

.post {
text-align: left;
}
.post-box {
  padding:10px;
  margin: 0 auto;
  border: .1px solid black;
  line-height: 30px;

}
.box-bucket{
  padding:30px;
  width:800px;
  margin: 0 auto;
  font-size: 1.2em;
  text-align: center;
  border: 2.2px solid black;

}
.date{
text-align:center;
padding-bottom:10px;
}
.date em {
  font-size: 1.5em;
}

.floated-bio{
  float: right;
  width:25%;
  padding-right:10px;
 
}
img{
  padding:10px;
}
.box2{
  padding:0 200px ;
}
.content-about{
  font-size:1.2em;
}
.bucket-pics{
  width:20%;
}
.bucket-list{
justify-content: center;
}
.blank{
  height: 10px;
}
.nav{
  list-style-type: none;
}

/*Mobile*/
@media only screen and (max-width: 400px) {
  .heading {
    padding-top:5%;
   
    font-size:20px; 
    line-height:60px;
    letter-spacing: 15px;
    
  }
  .post-box{
    font-size:15px;
  }
  .photo-container img{
    padding-top:10%;
    height:300px;
  }
}
/*tablet*/
@media only screen and (min-width: 401px) and (max-width:960px) {
  .heading {
    font-size:50px; 
    letter-spacing: 10px;
  }
  .post-box{
    font-size:15px;
  }
}
/*desktop*/
@media only screen and (min-width:961px){
  .heading{
    font-size:70px;
    letter-spacing: 10px;
  }
  .post-box{
    font-size: 20px;
  }
}

