 <title>Gallery.</title>
 <div class = "header">
            <h1 class= "heading">Gallery.</h1>
            </div>
 <div id = "galleryContainer"></div>
      <script src = "./gallery.js"></script>
      </body>
      </html>